dataset/part_chair_leg_pca64
dataset/__pycache__
exp_shapeNet_chair_leg/
wandb/
models/__pycache__
Training
latest_model_weights.pth
dataset/part_chair_leg_pca64.zip
best_model_weights.pth
dataset/pretrained_ckpt/
testShapes/
dataset/part_chair_seat_pca64/
exp_shapeNet_chair_armrest/
exp_shapeNet_chair_back/
exp_shapeNet_chair_seat/
generated_data_refine/
bug_handling/
bug_handling_un_symm/
torchdiffeq-master/
dataset/part_chair_armrest_pca64.zip
dataset/part_chair_armrest_pca64/
dataset/part_chair_back_pca64.zip
dataset/part_chair_back_pca64/
dataset/part_chair_leg.zip
dataset/part_chair_seat_pca64.zip
bug_handling copy/
bug_handling_no_c2f/
best_model_weights.pth
temp_folder/
test.py
test_pcd/
latest_model_weights_deformnf_64.pth

1aa07508b731af79814e2be0234da26c_interpolated_1.ply
1aa07508b731af79814e2be0234da26c_interpolated_2.ply
1aa07508b731af79814e2be0234da26c_interpolated_3.ply
1aa07508b731af79814e2be0234da26c_interpolated_4.ply
1aa07508b731af79814e2be0234da26c_interpolated_5.ply