dataset/part_chair_leg_pca64
dataset/__pycache__
exp_shapeNet_chair_leg/
wandb/
models/__pycache__
Training
latest_model_weights.pth
dataset/part_chair_leg_pca64.zip
best_model_weights.pth
dataset/pretrained_ckpt/
testShapes/
pytorch-meta-794bf82/